.container {
    padding: 7rem;
}

.fade-in-section {
  /* Initial State: Invisible, no vertical offset */
  opacity: 0;
  visibility: hidden;

  /* Transition: only apply to opacity and visibility */
  transition: opacity 0.6s ease-out, visibility 0.6s;
  will-change: opacity, visibility; 
}

.fade-in-section.is-visible {
  /* Final State: Fully visible, in its original position */
  opacity: 1;
  visibility: visible;
}